<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Administativo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
    <connectionStrings>
        <add name="Administativo.My.MySettings.baseaguaConnectionString"
            connectionString="DSn=AGUA" providerName="MySql.Data.MySqlClient" />
        <add name="Administativo.My.MySettings.baseaguaConnectionString1"
            connectionString="Dsn=agua" providerName="System.Data.Odbc" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de sucesos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Administativo.My.MySettings>
            <setting name="Porcentajedesaneamiento" serializeAs="String">
                <value>porcsanea</value>
            </setting>
            <setting name="camposaneamiento" serializeAs="String">
                <value>saneacuo</value>
            </setting>
            <setting name="campoalcantarillo" serializeAs="String">
                <value>PorcAlca</value>
            </setting>
            <setting name="tablacuotas" serializeAs="String">
                <value>cuotas</value>
            </setting>
            <setting name="booleanalcantarillado" serializeAs="String">
                <value>ALCANTARILLADO</value>
            </setting>
            <setting name="booleanIVA" serializeAs="String">
                <value>IVA</value>
            </setting>
            <setting name="booleanrecargos" serializeAs="String">
                <value>RECARGOS</value>
            </setting>
            <setting name="booleancobrarfijoalcantarillado" serializeAs="String">
                <value>alcapcuo</value>
            </setting>
            <setting name="Porcentajedealcantarillado" serializeAs="String">
                <value>PorcAlca</value>
            </setting>
            <setting name="booleansaneamiento" serializeAs="String">
                <value>saneacuo</value>
            </setting>
            <setting name="booleancobrarfijosaneamiento" serializeAs="String">
                <value>sanepcuo</value>
            </setting>
            <setting name="clavevalvulista" serializeAs="String">
                <value>VALVUL</value>
            </setting>
            <setting name="cobrarvalvulista" serializeAs="String">
                <value>SI</value>
            </setting>
            <setting name="booleanmedido" serializeAs="String">
                <value>medido</value>
            </setting>
            <setting name="Clavedeconsumo" serializeAs="String">
                <value>-4</value>
            </setting>
            <setting name="Clavedealcantarillado" serializeAs="String">
                <value>002DRE</value>
            </setting>
            <setting name="clavedesaneamiento" serializeAs="String">
                <value>112SAN</value>
            </setting>
            <setting name="Clavederecargo" serializeAs="String">
                <value>003REC</value>
            </setting>
            <setting name="Clavedeiva" serializeAs="String">
                <value>112IVA</value>
            </setting>
            <setting name="ClavedeRezago" serializeAs="String">
                <value>-14</value>
            </setting>
            <setting name="TopeRecargo" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="campoano" serializeAs="String">
                <value>periodo</value>
            </setting>
            <setting name="campotarifa" serializeAs="String">
                <value>tarifa</value>
            </setting>
            <setting name="campoaguafija" serializeAs="String">
                <value>pago_agua</value>
            </setting>
            <setting name="campousuariotarifa" serializeAs="String">
                <value>tarifa</value>
            </setting>
            <setting name="usuarioreporte" serializeAs="String">
                <value>Comercial</value>
            </setting>
            <setting name="passreporte" serializeAs="String">
                <value>Comercial_01</value>
            </setting>
            <setting name="basereporte" serializeAs="String">
                <value>sr_guerrero</value>
            </setting>
            <setting name="servidorreporte" serializeAs="String">
                <value>Agua</value>
            </setting>
            <setting name="CombodeCalles" serializeAs="String">
                <value>NO</value>
            </setting>
            <setting name="conceptofactibilidad" serializeAs="String">
                <value>779</value>
            </setting>
            <setting name="conceptocobrofactibilidad" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="claveConvenio" serializeAs="String">
                <value>CON001</value>
            </setting>
            <setting name="IDComunidadSistema" serializeAs="String">
                <value>1</value>
            </setting>
        </Administativo.My.MySettings>
    </userSettings>
</configuration>
